# Conhecendo a base de dados

## Importando os dados

In [1]:
import pandas as pd

In [38]:
df = pd.read_csv('../datasets/aluguel.csv', sep=';')

In [7]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [12]:
df.tail()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

## Características gerais da base de dados

In [8]:
df.shape

(32960, 9)

In [9]:
df.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [11]:
df.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
count,32960.000000,32960.000000,32960.000000,32960.000000,3.294300e+04,2.886700e+04,2.272300e+04
mean,1.771390,1.749059,0.665777,231.901547,1.295266e+04,2.388062e+03,2.364410e+03
std,1.717869,20.380402,1.176525,1135.254152,6.675220e+05,3.918496e+04,1.795641e+05
min,0.000000,0.000000,0.000000,0.000000,7.500000e+01,1.000000e+00,1.000000e+00
25%,0.000000,0.000000,0.000000,55.000000,1.500000e+03,5.900000e+02,1.100000e+02
50%,2.000000,1.000000,0.000000,87.000000,2.800000e+03,9.900000e+02,2.500000e+02
75%,3.000000,2.000000,1.000000,170.000000,6.500000e+03,1.800000e+03,6.970000e+02
max,100.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07

In [13]:
# Verificando valores ausentes
df.isnull().sum()

Tipo              0
Bairro            0
Quartos           0
Vagas             0
Suites            0
Area              0
Valor            17
Condominio     4093
IPTU          10237
dtype: int64

In [15]:
# Conta linhas totalmente duplicadas
df.duplicated().sum()

np.int64(1160)

In [16]:
# Ver as linhas duplicadas
df[df.duplicated(keep=False)]

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
25,Flat,Leblon,1,0,0,56,4500.0,1900.0,1500.0
27,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0
73,Apartamento,Ipanema,3,1,1,140,7900.0,2900.0,500.0
100,Quitinete,Centro,0,0,0,30,800.0,505.0,NaN
102,Apartamento,Ipanema,3,1,1,120,7000.0,1800.0,370.0
...,...,...,...,...,...,...,...,...,...
32788,Conjunto Comercial/Sala,Centro,0,0,0,406,19500.0,9194.0,1998.0
32801,Loja/Salão,Barra da Tijuca,0,1,0,49,3000.0,864.0,NaN
32806,Apartamento,Ipanema,4,2,1,257,8000.0,2800.0,680.0
32879,Conjunto Comercial/Sala,Recreio dos Bandeirantes,0,1,0,32,1500.0,360.0,130.0
32913,Conjunto Comercial/Sala,Centro,0,0,0,423,11000.0,8082.0,1977.0

# Análise exploratória de dados

## Qual o valor médio de aluguel por tipo de imóvel?

In [55]:
# Remover linhas sem valor de aluguel
df = df.dropna(subset=['Valor'])

# Substituir zeros e valores menores que um limite
df.loc[df['Area'] <= 0, 'Area'] = 1

# Ou considerar valores muito pequenos também
df.loc[df['Area'] < 1, 'Area'] = 1

# Converter para numérico, transformando não-numéricos em NaN
df['Valor'] = pd.to_numeric(df['Valor'], errors='coerce')
df['Area'] = pd.to_numeric(df['Area'], errors='coerce')

# Calcular a média do valor do aluguel por area
df['Valor_por_m2'] = df['Valor'] / df['Area']

In [56]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor_por_m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN,70.000000
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0,34.666667
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.333333
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN,16.666667

In [ ]:
df.Tipo.unique()

In [59]:
def remover_outliers_por_grupos(df, coluna_valor, colunas_grupo):
    """
    Remove outliers usando IQR agrupando por múltiplas colunas
    
    Args:
        df: DataFrame
        coluna_valor: coluna para detectar outliers
        colunas_grupo: lista de colunas para agrupar
    """
    df_limpo_list = []
    
    # Agrupar por todas as combinações
    for grupo, df_grupo in df.groupby(colunas_grupo):
        Q1 = df_grupo[coluna_valor].quantile(0.25)
        Q3 = df_grupo[coluna_valor].quantile(0.75)
        IQR = Q3 - Q1
        
        limite_inferior = Q1 - 1.5 * IQR
        limite_superior = Q3 + 1.5 * IQR
        
        # Filtrar outliers
        df_grupo_limpo = df_grupo[
            (df_grupo[coluna_valor] >= limite_inferior) & 
            (df_grupo[coluna_valor] <= limite_superior)
        ]
        
        df_limpo_list.append(df_grupo_limpo)
    
    # Concatenar todos os grupos
    df_sem_outliers = pd.concat(df_limpo_list, ignore_index=True)
    
    print(f"Registros originais: {len(df)}")
    print(f"Registros sem outliers: {len(df_sem_outliers)}")
    print(f"Outliers removidos: {len(df) - len(df_sem_outliers)}")
    
    return df_sem_outliers

# Usar
df_limpo = remover_outliers_por_grupos(df, 'Valor_por_m2', ['Tipo', 'Bairro'])

Registros originais: 32943
Registros sem outliers: 31526
Outliers removidos: 1417

In [61]:
df_limpo.describe()

,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor_por_m2
count,31526.000000,31526.000000,31526.000000,31526.000000,3.152600e+04,2.780300e+04,2.188400e+04,31526.000000
mean,1.772283,1.696631,0.655903,227.484108,1.150532e+04,2.297880e+03,2.365241e+03,42.213222
std,1.537728,20.724924,1.169629,1140.051258,6.763874e+05,3.986264e+04,1.829656e+05,593.669269
min,0.000000,0.000000,0.000000,1.000000,7.500000e+01,1.000000e+00,1.000000e+00,0.021044
25%,0.000000,0.000000,0.000000,55.000000,1.450000e+03,5.880000e+02,1.080000e+02,21.481481
50%,2.000000,1.000000,0.000000,87.000000,2.700000e+03,9.800000e+02,2.500000e+02,31.250000
75%,3.000000,2.000000,1.000000,170.000000,6.000000e+03,1.784000e+03,6.790000e+02,44.776119
max,32.000000,1966.000000,70.000000,90000.000000,1.200000e+08,6.552570e+06,2.705307e+07,100000.000000

In [67]:
# Valor medio do aluguel por tipo de imóvel (apenas valores numéricos na coluna 'Valor')
def formatar_reais(valor):
    return f'R$ {valor:,.2f}'.replace(',', 'X').replace('.', ',').replace('X', '.')

df_limpo.groupby(['Tipo', 'Bairro'])['Valor_por_m2'].mean().sort_values(ascending=False).apply(formatar_reais)

Tipo                   Bairro
Prédio Inteiro         Jacarepaguá      R$ 33.368,98
Loteamento/Condomínio  Tijuca           R$ 25.000,00
Box/Garagem            Engenho Novo     R$ 15.000,00
Loteamento/Condomínio  Engenho Novo     R$ 14.000,00
Indústria              Vigário Geral     R$ 5.454,55
                                            ...
Terreno Padrão         Jacarepaguá           R$ 1,40
Loja/Salão             Anchieta              R$ 1,29
Loteamento/Condomínio  Jacarepaguá           R$ 1,26
Terreno Padrão         Vargem Grande         R$ 1,24
Sítio                  Camorim               R$ 0,47
Name: Valor_por_m2, Length: 966, dtype: object

In [81]:
# Calcular médias (sem formatação primeiro)
media_area = df_limpo.groupby(['Tipo', 'Bairro'])['Area'].mean().sort_values(ascending=False)
media_sem_outliers = df_limpo.groupby(['Tipo', 'Bairro'])['Valor_por_m2'].mean().sort_values(ascending=False)

# Garantir que ambas as Series estão alinhadas
df_comparacao = pd.DataFrame({
    'Area_Media': media_area,
    'Aluguel_por_M2': media_sem_outliers
})

# Calcular a multiplicação depois
df_comparacao['Valor_Medio_Aluguel'] = df_comparacao['Area_Media'] * df_comparacao['Aluguel_por_M2']

# Calcular média
resultado = df_comparacao.groupby(['Tipo', 'Bairro'])['Valor_Medio_Aluguel'].mean().sort_values(ascending=False)

# Converter para DataFrame
resultado_df = resultado.reset_index()
resultado_df.columns = ['Tipo', 'Bairro', 'Valor_Medio_Aluguel']

# Agora pode formatar a coluna
resultado_df['Valor_Medio_Aluguel'] = resultado_df['Valor_Medio_Aluguel'].apply(formatar_reais)

print(resultado_df)

                        Tipo           Bairro Valor_Medio_Aluguel
0             Prédio Inteiro      Jacarepaguá    R$ 25.783.099,03
1                      Sítio        Guaratiba       R$ 800.497,58
2    Conjunto Comercial/Sala             Caju       R$ 563.795,56
3             Prédio Inteiro          Humaitá       R$ 430.731,40
4             Terreno Padrão     Campo Grande       R$ 298.408,74
..                       ...              ...                 ...
961              Box/Garagem      Laranjeiras           R$ 300,00
962              Box/Garagem  Barra da Tijuca           R$ 300,00
963              Box/Garagem            Méier           R$ 250,00
964              Box/Garagem         Flamengo           R$ 200,00
965              Box/Garagem       Bonsucesso           R$ 180,00

[966 rows x 3 columns]

## Removendo os imóveis comerciais

## Qual o percentual de cada tipo de imóvel na nossa base de dados?

### **Selecionando apenas os imóveis do tipo apartamento**

# Tratando e filtrando os dados

## Lidando com dados nulos

## Removendo registros

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

## Salvando os dados

# Manipulando os dados

## Criando colunas numéricas

## Criando colunas categóricas